@media (min-width: 768px) {
  .textColumn {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

body{
    background-color: #ffc04c;
}

p {
  text-align: justify;
  font-size: 90%;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

p,
th {
  color: #fff;
}

th > a {
  color: #fff;
  font-weight: 400;
}
th > a:hover {
  color: grey;
}
.contacts {
  line-height: 2em;
  margin-left: 0.8em;
  font-size: 90.9%;
  margin-bottom: 3em;
}
.bolded {
  font-weight: 900;
  font-style: italic;
  font-size: 150%;
}
.titleLogo {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.logo,
.titleLogo {
  padding-left: 0.8em;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa {
  color: #fff;
  padding-right: 0.5em;
}
.faColumn {
  text-align: center;
}
.fa-wrench {
  color: inherit;
}
.underConstruction {
  font-weight: light;
  color: #fda600;
  font-size: 90.9%;
  padding-left: 0.8em;
}
@-webkit-keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-1turn);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-1turn);
  }
}
.rotating {
  -webkit-animation: rotating 25s linear infinite;
  animation: rotating 25s linear infinite;
}

#app[data-v-516d3a1e] {
  min-height: 100vh;
  background-color: #ffc04c;
  font-family: lato;
  font-weight: 400;
}
